* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  --clr-dark-violet: hsl(278, 68%, 11%);
}

.body {
  background-color: #333;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

#products {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#products li {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
}

#products img {
  width: 100px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
